<label for="">list products</label>
<label for="">title:</label>
<input type="text" id="titleProduct" />
<label for="">price:</label>
<input type="text" id="priceProduct" />
<label for="">description:</label>
<input type="text" id="descriptionProduct" />
<button id="buttonSubmit">Enviar</button>
<div id="listProducts">

</div>

{{! scrips }}
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>